* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222327;
}
.simplebar {
  position: relative;
  width: 400px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.simplebar ul {
  display: flex;
  width: 350px;
}
.simplebar ul li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 60px;
  z-index: 2;
}
.simplebar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.simplebar ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  transition: 0.5s;
  color: #222327;
}
.simplebar ul li.active a .icon {
  transform: translateY(-32px);
  position: static;
  color: #8977ad;
}
.simplebar ul li a .text {
  position: absolute;
  background: #8977ad;
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400px;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}
.simplebar ul li.active a .text {
  transform: translateY(-4px);
  opacity: 1;
}
.indicator {
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff;
}
.simplebar ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.simplebar ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.simplebar ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.simplebar ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.simplebar ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
